<div layout="row" layout-align="top top">
  <md-input-container class="md-icon-float md-block">
        <label>Profile Image URL</label>
        <md-icon md-font-icon="fa-link" class="fa fa-lg"></md-icon>
        <input name="name" ng-model="res">
    </md-input-container>
    <!-- {{form}} -->
    <!-- {{form.name.$valid}} -->
    <div class="avatar-cont-sm">
      <img ng-src="{{res}}" on-error="https://cdn1.iconfinder.com/data/icons/security/80/Security_safety-10-256.png" />
    </div>


</div>
<!--
 http://vignette2.wikia.nocookie.net/assassinscreed/images/7/73/Trollface.png/revision/latest?cb=20110812045715


 http://images2.fanpop.com/images/photos/3000000/Homer-Simpson-homer-simpson-3065329-800-600.jpg
->
