<div>
  <md-input-container class="md-icon-float md-block">
        <label>Password</label>
        <!-- <md-icon md-font-icon="fa-eye" class="fa fa-2x" ></md-icon> -->
        <!-- <md-icon md-font-icon="fa-lock" class="fa fa-2x"></md-icon> -->
        <md-icon  ng-init="lock=true" md-font-icon="fa" ng-class=" lock ?  'fa-eye fa-2x' : 'fa-lock fa-2x' "  ng-click="lock=!lock"></md-icon>
        <input  type="{{ lock ? 'password' : 'text'}}" required name="password" ng-model="res">
        <div ng-messages="form.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>

    <!-- {{form.password.$error}} -->

</div>
